.contacts{
  // background-image: url(../images/contacts/bacl.jpg);
  // background-repeat: no-repeat;
  //   background-position: center center;
  //   background-size: cover;
  //   height: 86%;
  //   width: 100%;
  //   right: 0;
}

.contacts__content{
  display: flex;
  justify-content: space-evenly;
  // flex-direction: column;
  text-align: center;
}