
.user{
  display: flex;
  position: relative;
}

.comment{
    // position: absolute;
    // width: 320px;
    max-width: 50%;
    // height: 250px;
    overflow: hidden;
    border: 3px solid #e7e0e0;
    background: rgba(#e7e0e0, .9);
    margin-top: -40px;
    margin-left: 60px;
  }

.comment-text{
  word-break: break-all;
  padding: 20px;
}
.user-img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  z-index: 10;
}

.username{
  font-family: 'robotobold', Arial, sans-serif;
    font-size: 18px;
}